.nav-container {
  height: 100px;
  background-color: var(--main-blue);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: clamp(1rem, 2.5vw, 2rem);
  padding: 1rem;
  list-style-type: none;
}

.nav-link a {
  color: var(--white);
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  text-decoration: none;
}

.nav-link a.active {
  color: var(--main-yellow);
}

.nav-link a:after {
  content: '';
  width: 0;
  height: 0.15rem;
  display: block;
  background-color: var(--main-yellow);
  transition-duration: 300ms;
  margin-top: 0.1rem;
}

.nav-link a:hover:after {
  width: 100%;
}

.nav-link a.active:after {
  width: 100%;
}
