html {
  --white: #fff;
  --main-blue: #26619c;
  --main-yellow: #ffef00;
  --main-cherry: #a31525;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  font-family: 'Corben', cursive;
}
